$colors: (
	main: rgba(35, 35, 35, 1),
	black: rgba(20, 20, 20, 1),
	white: rgba(245, 245, 245),
	grey: rgb(235, 235, 235),
	grey-darker: rgb(105, 105, 105),
	primary: rgb(245, 0, 126),
);

$fonts: (
	sizes: (
		h0: 3.5,
		h1: 2,
		h2: 1.5,
		h3: 1.2,
		h4: 1,
		h5: 0.875,
		h6: 0.7,
	),
);
