$colors: (
	main: rgba(25, 25, 25, 1),
	black: rgba(15, 15, 15, 1),
	white: rgba(233, 233, 233),
	grey: rgb(222, 222, 222),
	primary: rgb(245, 0, 126),
);

$fonts: (
	sizes: (
		h0: 4,
		h1: 2,
		h2: 1.5,
		h3: 1.25,
		h4: 1,
		h5: 0.875,
		h6: 0.7,
	),
);
