@use "sass:map";
@use "theme";
@use "functions";

@font-face {
	font-family: "Urbanist";
	src: url("/fonts/Urbanist.ttf") format("truetype");
}

@font-face {
	font-family: "Urbanist";
	font-style: italic;
	src: url("/fonts/Urbanist-Italic.ttf") format("truetype");
}

@mixin Urbanist {
	font-family: "Urbanist", sans-serif;
}

body {
	@include Urbanist;
	font-size: 16px;

	@media (min-width: 1920px) {
		font-size: 0.8333vw;
	}
}

$sizes: map.get(theme.$fonts, sizes);

@for $i from 0 through 6 {
	h#{$i},
	.h#{$i} {
		$size: map.get($sizes, h#{$i});

		$sizemin: $size + rem;
		$sizevw: $size * 1.25 + vw;
		$fluid: calc($sizevw + ($sizemin * 0.5));
		$sizemax: calc($size * 1.25) + rem;

		font-size: clamp($sizemin, $fluid, $sizemax);

		@if ($i == 1 or $i == 0) {
			line-height: clamp($sizemin * 1.1, $fluid * 1.1, $sizemax * 1.1);
			letter-spacing: functions.rem(0.25);
			font-weight: 500;
		} @else {
			line-height: clamp($sizemin * 1.5, $fluid * 1.5, $sizemax * 1.5);
			letter-spacing: calc(0.1 / $i) + rem;
			font-weight: 300;
		}
	}

	@if ($i == 4) {
		span,
		p,
		li,
		div,
		button,
		a {
			@include Urbanist;
			text-decoration: none;

			$size: map.get($sizes, h#{$i});

			$sizemin: $size + rem;
			$sizevw: $size * 1 + vw;
			$fluid: calc($sizevw + ($sizemin * 1));
			$sizemax: calc($size * 1.1) + rem;

			font-size: clamp($sizemin, $fluid, $sizemax);
			line-height: clamp($sizemin * 1.5, $fluid * 1.5, $sizemax * 1.5);
			letter-spacing: calc(0.1 / $i) + rem;

			font-weight: 400;
		}

		button {
			font-weight: 500;
		}
	}
}

strong {
	font-weight: 800;
}
