@use "mixins" as m;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@mixin Urbanist {
	font-family: "Urbanist", sans-serif;
}
@mixin Manrope {
	font-family: "Manrope", sans-serif;
}

html {
	font-size: 16px;

	@media (min-width: 1920px) {
		font-size: 0.83333vw !important;
	}
}

$sizes: m.get(m.$fonts, sizes);

@for $i from 0 through 6 {
	h#{$i},
	.h#{$i} {
		$size: m.get($sizes, h#{$i});

		$sizemin: $size + rem;
		$sizevw: $size * 1 + vw;
		$fluid: calc($sizevw + ($sizemin * 1));
		$sizemax: calc($size * 1.25) + rem;

		font-size: clamp($sizemin, $fluid, $sizemax);

		@if ($i == 1 or $i == 0) {
			line-height: clamp($sizemin * 1, $fluid * 1.1, $sizemax * 1.1);
			letter-spacing: calc(-0.01 * $size) + rem;
			font-weight: 600;
		} @else {
			line-height: clamp($sizemin * 1.1, $fluid * 1.5, $sizemax * 1.33);
			letter-spacing: calc(0.075 * $size) + rem;
			font-weight: 300;
		}

		@if ($i == 1 or $i == 0 or $i == 2) {
			@include Urbanist;
		}
		else {
			@include Manrope;
		}
	}

	@if ($i == 4) {
		span,
		p,
		li,
		div,
		button,
		a {
			@include Manrope;
			text-decoration: none;

			$size: m.get($sizes, h#{$i});

			$sizemin: calc($size * 0.9) + rem;
			$sizevw: $size * 2 + vw;
			$fluid: calc($sizevw + ($sizemin * 1));
			$sizemax: calc($size * 1) + rem;

			font-size: clamp($sizemin, $fluid, $sizemax);
			line-height: clamp($sizemin * 1.25, $fluid * 1.66, $sizemax * 1.66);
			letter-spacing: calc(0.075 * $size) + rem;

			font-weight: 300;
		}

		button {
			font-weight: 500;
		}
	}
}

strong {
	font-weight: 800;
}
