/public
public/
public

.git
/git
git/
git
.github

/node_modules
node_modules
node_modules/

bun.lockb

static/img/media
static/img/media/
/static/img/media

/media
media
media/

media/webp

webp
/webp
webp/