@use "sass:map";
@use "../mixins/functions";
@use "../mixins/theme";

.services {
	display: flex;
	padding: functions.rem(24) 0 functions.rem(96);

	> .content-wrapper {
		flex-flow: column;
		gap: functions.rem(24);
	}

	> .content-wrapper > .title {
		display: flex;
		flex-flow: column;
		gap: functions.rem(12);
		z-index: 2;

		> divider-horizontal {
			width: functions.rem(192);
			z-index: 1;
		}
	}

	> .content-wrapper > .content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(functions.rem(192), 1fr));
		grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));

		gap: functions.rem(40);

		justify-content: start;
		align-items: start;
	}

	.card {
		display: flex;
		flex-flow: column;

		.leads {
			display: flex;
			flex-flow: column;

			margin-top: functions.rem(12);

			p {
				font-weight: 600;

				cursor: pointer;
			}
		}
	}
}
