@use "../mixins/mixins" as m;

.specialties-content {
	background-color: m.get(m.$colors, white);
	color: m.get(m.$colors, black);

	section {
		padding: m.rem(48) m.rem(12) m.rem(48);

		&.callout-page {
			background-color: m.get(m.$colors, white);
			text-align: center;

			divider-horizontal {
				background-color: m.get(m.$colors, primary);
				width: m.rem(192);
				height: m.rem(1);
			}

			&:not(.has-image) {
				> .content-wrapper {
					width: clamp(m.rem(312), 90vw, m.rem(960));
				}
			}

			.text {
				display: flex;
				flex-flow: column;
				align-items: center;
				gap: m.rem(24);
			}

			.image {
				flex-grow: 1;
			}

			&.has-image {
				> .content-wrapper {
					gap: m.rem(64);

					.text {
						text-align: left;
						align-items: start;
						justify-content: start;
					}

					.image {
						display: flex;
						justify-content: center;
						align-items: center;

						height: m.rem(200);
						width: m.rem(500);
						position: relative;

						flex-grow: 1;
						flex-shrink: 0;

						img {
							height: 200%;
							width: auto;

							position: absolute;
							top: -75%;
						}
					}
				}

				@media (max-width: m.rem(1100)) {
					> .content-wrapper {
						flex-flow: column;
						justify-content: center;
						align-items: center;

						.image {
							height: auto;
							width: 100%;

							img {
								position: relative;
								top: 0;
								width: auto;
								height: auto;

								max-height: m.rem(400);
							}
						}
					}

					padding: m.rem(60) 0 0 0;
				}
			}
		}

		&.pages-sales-pitch {
			text-align: center;
			padding: m.rem(64) 0;

			h2 {
				font-weight: 500;
			}

			divider-horizontal {
				background-color: m.get(m.$colors, primary);
				width: m.rem(192);
				height: m.rem(1);
			}

			&.has-background {
				background-color: m.get(m.$colors, main);
				color: m.get(m.$colors, white);
			}

			half {
				display: flex;
				flex-flow: row;
				gap: m.rem(24);

				> div {
					width: calc(50% - m.rem(24));

					> h3 {
						margin-bottom: m.rem(12);
					}
				}

				@media (max-width: m.rem(900)) {
					flex-flow: column;

					> div {
						width: 100%;
					}
				}
			}

			.content-wrapper {
				flex-flow: column;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				gap: m.rem(24);

				> h3 {
					margin-bottom: m.rem(48);
				}
			}

			mark {
				background-color: m.get(m.$colors, white);
				color: m.get(m.$colors, black);
			}

			::marker {
				color: m.get(m.$colors, primary);
			}

			ul {
				gap: m.rem(12);
			}

			.sales-body {
				display: flex;
				flex-flow: row;
				flex-wrap: wrap;
				justify-content: center;

				gap: m.rem(24);

				@media (max-width: m.rem(1304)) {
					flex-flow: column;
					align-items: center;
				}

				.item {
					display: flex;
					flex-flow: column;
					justify-content: start;
					align-items: start;

					text-align: left;

					gap: m.rem(24);

					width: max(calc(33% - m.rem(24)), m.rem(312));

					background-color: m.get(m.$colors, primary);
					color: m.get(m.$colors, white);

					padding: m.rem(48) m.rem(36);
					border-radius: m.rem(24);

					@media (max-width: m.rem(1304)) {
						width: min(100%, m.rem(600));
					}

					&.smaller {
						width: max(calc(25% - m.rem(24)), m.rem(192));
					}

					&.bigger {
						width: max(calc(50% - m.rem(24)), m.rem(312));
					}

					h3 {
						font-weight: 600;
					}
				}
			}
		}

		&.showcase {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			gap: 0;
			padding: 0;

			height: m.rem(600);

			item {
				width: calc(100% / 6);
				height: 50%;

				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}

		&.sales-pitch {
			&.sales-pitch-background {
				padding: m.rem(84) 0;

				background-color: m.get(m.$colors, black);
				color: m.get(m.$colors, white);

				& .sticky,
				& .sales-body {
					h1,
					h2,
					h3,
					h4 {
						color: m.get(m.$colors, white);
					}

					ul {
						gap: m.rem(36);
					}
				}
			}

			divider-horizontal {
				background-color: m.get(m.$colors, primary);
				width: m.rem(120);
				height: m.rem(1);
			}

			.content-wrapper {
				flex-flow: row;
				flex-wrap: wrap;
				align-items: start;
				justify-content: center;
				gap: m.rem(48);

				position: relative;

				> div {
					width: max(m.rem(296), calc(50% - m.rem(24)));

					@media (max-width: m.rem(737)) {
						width: 100%;
					}
				}
			}

			.sticky {
				display: flex;
				flex-flow: column;
				gap: m.rem(24);

				position: sticky;
				top: m.rem(72);

				@media (max-width: m.rem(737)) {
					position: relative;
					top: 0;
				}

				h1 {
					color: m.get(m.$colors, grey-darker);
					font-weight: 400;
				}

				h2 {
					color: m.get(m.$colors, grey-darker);
					font-weight: 400;
				}

				h3 {
					color: m.get(m.$colors, primary);
					font-weight: 500;
				}
			}

			.sales-body {
				display: flex;
				flex-flow: column;
				gap: m.rem(24);

				strong {
					font-weight: 700;
				}

				h1 {
					color: m.get(m.$colors, grey-darker);
					font-weight: 400;
				}

				h2 {
					color: m.get(m.$colors, grey-darker);
					font-weight: 400;
				}

				h3 {
					color: m.get(m.$colors, grey-darker);
					font-weight: 500;
				}
			}
		}

		ul {
			display: flex;
			flex-flow: column;
			justify-content: start;
			align-items: start;

			text-align: left;

			gap: m.rem(12);

			margin-left: m.rem(12);
			margin-bottom: m.rem(24);

			li {
				strong {
					color: m.get(m.$colors, grey-darker);
					font-weight: 700;
				}

				h3 {
					margin-bottom: m.rem(6);
				}

				h4 {
					margin-bottom: m.rem(3);
				}
			}
		}

		accordion {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;

			accordion-header {
				display: flex;
				justify-content: space-between;
				align-items: center;

				padding: m.rem(12) m.rem(15);

				cursor: pointer;

				img {
					transition: transform 125ms cubic-bezier(0.47, 0, 0.745, 0.715);
					height: m.rem(18);
				}

				&:hover {
					color: m.get(m.$colors, primary);
				}

				&.active {
					img {
						transform: rotate3d(0, 0, 1, 45deg);
					}

					+ accordion-content {
						max-height: m.rem(1600);
						transform: scale3d(1, 1, 1);
					}
				}
			}

			accordion-content {
				display: flex;
				flex-flow: column;
				justify-content: start;
				align-items: start;

				gap: m.rem(18);

				padding: m.rem(12) m.rem(24);

				transform-origin: top;
				transform: scale3d(1, 0, 1);

				max-height: 0;

				transition: max-height 125ms cubic-bezier(0.47, 0, 0.745, 0.715),
					transform 50ms cubic-bezier(0.47, 0, 0.745, 0.715);
			}
		}
	}

	banner {
		.content-wrapper {
			justify-content: center;
			align-items: center;
			text-align: center;
			flex-flow: column;
		}

		height: max(40vh, m.rem(300));
		background-color: m.get(m.$colors, grey);
	}

	banner.inner-banner {
		background-color: m.get(m.$colors, main);
		color: m.get(m.$colors, white);

		padding: m.rem(36) 0;

		.background {
			z-index: 0;

			position: absolute;

			height: 100%;
			width: 100%;

			overflow: hidden;

			.mirror {
				position: absolute;

				z-index: 2;

				width: 100%;
				height: 100%;

				backdrop-filter: blur(m.rem(12)) opacity(1);
				background-color: transparentize(m.get(m.$colors, main), 0.9);
			}

			svg {
				position: absolute;
				z-index: 3;
			}

			.content {
				z-index: 1;

				height: 100%;
				width: 100%;

				&.parallax {
					height: 200%;
				}
			}

			video {
				width: 100%;
				position: absolute;
			}

			&.background-with-image {
				.mirror {
					backdrop-filter: blur(m.rem(12)) opacity(1);
					background-color: transparentize(m.get(m.$colors, main), 0.5);
				}

				img {
					position: absolute;
					width: 100%;

					background-color: m.get(m.$colors, main);
				}

				+ div {
					background-color: transparent;
					z-index: 2;
				}
			}

			&.background-with-video {
				.mirror {
					backdrop-filter: blur(m.rem(12)) opacity(1);
					background-color: transparentize(m.get(m.$colors, main), 0.5);
				}

				img {
					position: absolute;
					width: 100%;

					background-color: m.get(m.$colors, main);
				}

				+ div {
					background-color: transparent;
					z-index: 2;
				}
			}
		}

		divider-horizontal {
			background-color: m.get(m.$colors, primary);
			width: m.rem(192);
			height: m.rem(1);

			margin: m.rem(-12) 0;
		}

		> .content-wrapper {
			width: clamp(m.rem(312), 90vw, m.rem(1560));
		}

		&.has-items {
			padding: m.rem(64) 0;
			height: auto;
		}

		.callout {
			@include m.flex;
			flex-flow: column;
		}

		&.has-images {
			background-color: black;

			.items {
				.item {
					width: max(calc(16.6667% - m.rem(24)), m.rem(108));

					&.bigger {
						width: max(calc(50% - m.rem(24)), m.rem(312));
					}

					&.list {
						text-align: start;
						justify-content: start;
						align-items: start;

						ul {
							@include m.flex;
							align-items: start;
							flex-flow: column;
							gap: m.rem(36);

							divider-horizontal {
								margin-top: m.rem(24);
								margin-bottom: m.rem(12);
							}
						}
					}

					img {
						height: auto;
						width: 100%;
					}
				}
			}
		}

		h1 {
			font-weight: 300;
		}

		.items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: start;

			gap: m.rem(24);

			.item {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;

				gap: m.rem(24);

				width: max(calc(33% - m.rem(24)), m.rem(312));

				&.bigger {
					width: max(calc(50% - m.rem(24)), m.rem(312));
				}

				@media (max-width: m.rem(1304)) {
					width: 100%;
				}
			}
		}
	}

	banner.final-callout {
		background-color: m.get(m.$colors, white);

		divider-horizontal {
			background-color: m.get(m.$colors, primary);
			width: m.rem(192);
			height: m.rem(1);
		}

		p,
		div,
		li {
			font-weight: 400;
		}

		h1 {
			color: m.get(m.$colors, grey-darker);
		}

		h2 {
			font-weight: 400;
		}

		h3 {
			font-weight: 400;
		}

		.callout {
			justify-content: center;
			align-items: center;

			h3 {
				font-variant: normal;
			}
		}
	}
}
