@use "sass:map";
@use "../mixins/functions";
@use "../mixins/theme";

banner.specialties {
	height: max(40vh, functions.rem(396));
	background-color: map.get(theme.$colors, main);

	.content-wrapper {
		flex-flow: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		h3 {
			font-variant: normal;
		}
	}
}

section {
	&.callout {
		background-color: map.get(theme.$colors, grey);
		text-align: center;

		.content-wrapper {
			flex-flow: column;
			gap: functions.rem(24);
			width: clamp(functions.rem(312), 90vw, functions.rem(960));
		}
	}
}
