@use "sass:map";
@use "../mixins/functions";
@use "../mixins/theme";

.specialties-content {
	background-color: map.get(theme.$colors, white);
	color: map.get(theme.$colors, main);

	section {
		padding: functions.rem(48) functions.rem(12) functions.rem(48);

		p,
		div,
		li {
			font-weight: 400;
		}

		h2 {
			font-weight: 500;
		}

		h3 {
			font-weight: 400;
		}

		&.callout-page {
			background-color: map.get(theme.$colors, white);
			text-align: center;

			divider-horizontal {
				background-color: map.get(theme.$colors, primary);
				width: functions.rem(192);
				height: functions.rem(1);
			}

			&:not(.has-image) {
				> .content-wrapper {
					width: clamp(functions.rem(312), 90vw, functions.rem(960));
				}
			}

			.text {
				display: flex;
				flex-flow: column;
				align-items: center;
				gap: functions.rem(24);
			}

			.image {
				flex-grow: 1;
			}

			&.has-image {
				> .content-wrapper {
					.text {
						text-align: left;
						align-items: start;
						justify-content: start;
					}

					.image {
						display: flex;
						justify-content: center;
						align-items: center;

						height: functions.rem(200);
						width: functions.rem(500);
						position: relative;

						img {
							height: 250%;
							width: auto;

							position: absolute;
							top: -100%;
						}
					}
				}
			}
		}

		&.pages-sales-pitch {
			text-align: center;
			padding: functions.rem(64) 0;

			divider-horizontal {
				background-color: map.get(theme.$colors, primary);
				width: functions.rem(192);
				height: functions.rem(1);
			}

			&.has-background {
				background-color: map.get(theme.$colors, main);
				color: map.get(theme.$colors, white);
			}

			.content-wrapper {
				flex-flow: column;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;

				gap: functions.rem(24);

				> h3 {
					margin-bottom: functions.rem(48);
				}
			}

			mark {
				background-color: map.get(theme.$colors, white);
				color: map.get(theme.$colors, main);
			}

			::marker {
				color: map.get(theme.$colors, white);
			}

			ul {
				gap: functions.rem(12);
			}

			.sales-body {
				display: flex;
				flex-flow: row;
				flex-wrap: wrap;
				justify-content: center;

				gap: functions.rem(24);

				@media (max-width: functions.rem(1304)) {
					flex-flow: column;
					align-items: center;
				}

				.item {
					display: flex;
					flex-flow: column;
					justify-content: start;
					align-items: start;

					text-align: left;

					gap: functions.rem(24);

					width: max(calc(33% - functions.rem(24)), functions.rem(312));

					background-color: map.get(theme.$colors, primary);
					color: map.get(theme.$colors, white);

					padding: functions.rem(48) functions.rem(36);
					border-radius: functions.rem(24);

					@media (max-width: functions.rem(1304)) {
						width: min(100%, functions.rem(600));
					}
				}
			}
		}

		&.sales-pitch {
			.content-wrapper {
				flex-flow: row;
				flex-wrap: wrap;
				align-items: start;
				justify-content: center;
				gap: functions.rem(24);

				position: relative;

				> div {
					width: max(functions.rem(296), calc(50% - functions.rem(24)));

					@media (max-width: functions.rem(737)) {
						width: 100%;
					}
				}
			}

			.sticky {
				display: flex;
				flex-flow: column;
				gap: functions.rem(24);

				position: sticky;
				top: functions.rem(72);

				@media (max-width: functions.rem(737)) {
					position: relative;
					top: 0;
				}

				h3 {
					color: map.get(theme.$colors, primary);
					font-weight: 500;
				}
			}

			.sales-body {
				display: flex;
				flex-flow: column;
				gap: functions.rem(24);

				h3 {
					font-weight: 500;
				}
			}
		}

		ul {
			display: flex;
			flex-flow: column;
			justify-content: start;
			align-items: start;

			text-align: left;

			gap: functions.rem(12);

			margin-left: functions.rem(12);
			margin-bottom: functions.rem(24);
		}
	}

	banner {
		.content-wrapper {
			justify-content: center;
			align-items: center;
			text-align: center;
			flex-flow: column;
		}

		height: max(40vh, functions.rem(300));
		background-color: map.get(theme.$colors, grey);
	}

	banner.inner-banner {
		background-color: map.get(theme.$colors, main);
		color: map.get(theme.$colors, white);

		p,
		div,
		li {
			font-weight: 400;
		}

		h2 {
			font-weight: 500;
		}

		h3 {
			font-weight: 400;
		}

		divider-horizontal {
			background-color: map.get(theme.$colors, primary);
			width: functions.rem(200);
			height: functions.rem(1);
		}

		> .content-wrapper {
			width: clamp(functions.rem(312), 90vw, functions.rem(1560));
		}

		&.has-items {
			padding: functions.rem(64) 0;
			height: auto;
		}

		&.has-images {
			background-color: black;

			.items {
				.item {
					width: max(calc(16.6667% - functions.rem(24)), functions.rem(108));

					img {
						height: auto;
						width: 100%;
					}
				}
			}
		}

		h1 {
			font-weight: 300;
		}

		.items {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: start;

			gap: functions.rem(24);

			.item {
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;

				gap: functions.rem(24);

				width: max(calc(33% - functions.rem(24)), functions.rem(312));

				@media (max-width: functions.rem(1304)) {
					width: 100%;
				}
			}
		}
	}

	banner.final-callout {
		background-color: map.get(theme.$colors, white);

		p,
		div,
		li {
			font-weight: 400;
		}

		h2 {
			font-weight: 400;
		}

		h3 {
			font-weight: 400;
		}

		.callout {
			justify-content: center;
			align-items: center;

			h3 {
				font-variant: normal;
			}
		}
	}
}
