<section class="callout-page {% if has_image %}has_image{% endif %}">
  <div class="content-wrapper">
    <div class="text">
      <h2>{{ page.extra.callout | safe }}</h2>
      {% if page.extra.callout_sub %}
      <divider-horizontal></divider-horizontal>
      {{ page.extra.callout_sub | safe }}
      {% endif %}
      <div>
        <button>Entre em contato conosco <img src="{{ get_url(path='img/arrow-right-solid.svg') }}" alt=""></button>
      </div>
    </div>
    {% if has_image %}
    <div class="image">
      <img src="{{image}}" alt="">
    </div>
    {% endif %}
  </div>
</section>