<section class="showcase">
  <item><img src="{{ get_url(path='img/capsule-one/showcase-unica-per-me-01.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/capsule-one/showcase-unica-per-me-04.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/capsule-one/showcase-unica-per-me-02.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/capsule-one/showcase-unica-per-me-07.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/filha-da-terra/showcase-filha-da-terra-02.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/filha-da-terra/showcase-filha-da-terra-03.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/capsule-one/showcase-unica-per-me-05.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/filha-da-terra/showcase-filha-da-terra-01.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/capsule-one/showcase-unica-per-me-06.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/filha-da-terra/showcase-filha-da-terra-04.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/filha-da-terra/showcase-filha-da-terra-05.webp') }}" /></item>
  <item><img src="{{ get_url(path='img/filha-da-terra/filha-da-terra-portfolio.webp') }}" /></item>
</section>