{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
	{{ macros::head() }}

</head>

<body>
	{% block custom_style %}
	{% endblock custom_style %}

	<navigation>
		{% include "components/nav.html" %}
		{% include "components/menu.html" %}
	</navigation>

	<main id="main">
		{% block background %}
		{% endblock background %}

		{% block banner %}
		{% endblock banner %}

		{% block content %}
		{% endblock content %}

		{{ macros::footer() }}
	</main>


	{{ macros::scripts() }}

	{% block custom_script %}
	{% endblock custom_script %}
</body>

</html>