{% macro head() %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
	{% if section.title %}
	{% if section.page.title %}
	{{section.page.title }}
	{% else %}
	{{ section.title }}
	{% endif %}
	{% else %}
	{{ config.title }}
	{%endif %}
</title>

<link rel="shortcut icon" href="{{ get_url(path='img/favicon.webp') }}" type="image/png">

<link rel="stylesheet" href="{{ get_url(path='css/style.v002.css') }}" />
{% endmacro head %}

{% macro footer() %}
<footer>
	<div class="content-wrapper bigger">
		<div class="footer-location">
			<h3>RIO /</h3>
			<h4>Rua Visconde de Pirajá, 414 / Sala 718</h4>
			<h4>Ipanema</h4>
		</div>
		<div class="footer-content">
			<div class="contact">
				<h4>21 2027-4225</h4>
				<div class="social-media">
					<img src="{{ get_url(path='img/facebook-white.svg') }}" alt="">
					<img src="{{ get_url(path='img/instagram-white.svg') }}" alt="">
					<img src="{{ get_url(path='img/whatsapp-white.svg') }}" alt="">
					<img src="{{ get_url(path='img/phone-flip-solid-white.svg') }}" alt="">
				</div>
				<h6>Política de Privacidade</h6>
				<h6>© 2023 WDA Agência Digital</h6>
			</div>
			<div class="menu">
				<p>cases</p>
				<p>o que fazemos</p>
				<p>sobre</p>
				<p>orçamento</p>
				<p>vagas</p>
			</div>
			<div class="other-topics">
				<p>marketing</p>
				<p>design</p>
				<p>ux/ui design</p>
				<p>desenvolvimento</p>
			</div>
			<div class="orcamento">
				<button>Orçamento <img src="{{ get_url(path='img/arrow-right-solid.svg') }}" alt=""></button>
			</div>
		</div>
	</div>
</footer>
{% endmacro footer %}

{% macro scripts() %}
<script src="{{ get_url(path='js/htmx.js') }}" type="module"></script>
<script src="{{ get_url(path='js/multi-swap.js') }}" type="module"></script>
<script src="{{ get_url(path='js/scripts.js') }}" type="module"></script>
{% endmacro scripts %}