{% extends "_base.html" %}

{% block custom_style %}
{% endblock custom_style %}

{% block background %}
<div class="background-wrapper-fixed">
  <div class="mirror"></div>
  <div class="content">
    <img src="{{get_url(path='img/blob-full.webp')}}" alt="">
    <img src="{{get_url(path='img/blob-half.webp')}}" alt="">
  </div>
</div>
{% endblock background %}

{% block banner %}
<banner>
  <div class="content-wrapper">
    <div class="callout">
      <h1 class="h0">marketing & criação <br /> ux / ui design <br /> tecnologia</h1>
      <h3>
        Assessoria de Marketing Digital 360°
      </h3>
    </div>
  </div>
</banner>
{% endblock banner %}

{% block content %}
<div class="services">
  <div class="content-wrapper">
    <div class="title">
      <h2>O que fazemos</h2>
      <divider-horizontal></divider-horizontal>
    </div>
    <div class="content">
      <div class="card">
        <h3 class="title" hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="body"
          hx-swap="multi:body swap:250ms" hx-push-url="true"><strong>Marketing Digital</strong></h3>
        <p class="text">Mais do que uma agência digital, nossa proposta é atuar como o time de marketing do seu negócio.
          Entregamos soluções estratégicas e integradas para ambientes online e offline.</p>

        <div class="leads">
          <p>Assessoria de Marketing Digital</p>
          <p>Social Media Marketing</p>
          <p>Tráfego Pago</p>
        </div>
      </div>
      <div class="card">
        <h3 class="title" hx-post="{{ get_url(path='/design') }}" hx-trigger="click throttle:250ms" hx-target="body"
          hx-swap="multi:body swap:250ms" hx-push-url="true"><strong>Design</strong></h3>
        <p class="text">Somos um estúdio de criação especializado em comunicação visual, ilustração e projetos gráficos
          2D
          e
          3D</p>

        <div class="leads">
          <p>Identidade Visual</p>
          <p>Comunicação Visual</p>
          <p>Design de Embalagem</p>
          <p>Ilustração</p>
        </div>
      </div>
      <div class="card">
        <h3 class="title" hx-post="{{ get_url(path='/ux-ui-design') }}" hx-trigger="click throttle:250ms"
          hx-target="body" hx-swap="multi:body swap:250ms" hx-push-url="true"><strong>UX / UI Design</strong></h3>
        <p class="text">Desenvolvemos ambientes e produtos através do estudo da usabilidade e experiência do usuário
          final.<br />
          Planejamos soluções e interações que promovem engajamento, conexão e conversão.</p>

        <div class="leads">
          <p>Arquitetura de Informação</p>
          <p>Design de Interface</p>
          <p>Estratégia de Conteúdo</p>
        </div>
      </div>
      <div class="card">
        <h3 class="title" hx-post="{{ get_url(path='/desenvolvimento') }}" hx-trigger="click throttle:250ms"
          hx-target="body" hx-swap="multi:body swap:250ms" hx-push-url="true"><strong>Desenvolvimento</strong></h3>
        <p class="text">Materializamos as suas ideias. <br />
          Seja um e-commerce, um site ou aplicativo, nossa equipe atuará no planejamento, na concepção e no
          desenvolvimento
          através de metodologias ágeis e emergentes.</p>

        <div class="leads">
          <p>Criação de Sites</p>
          <p>Landing Pages</p>
          <p>E-Commerce</p>
          <p>Criação de Aplicativos</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{ section.content | safe }}

{% endblock content %}