{% extends "_base.html" %}

{% block custom_style %}
<link rel="stylesheet" href="{{ get_url(path='css/components/banner.css') }}" />
<link rel="stylesheet" href="{{ get_url(path='css/components/masonry.css') }}" />
<link rel="stylesheet" href="{{ get_url(path='css/page/home.css') }}" />
{% endblock custom_style %}

{% block background %}
<div class="background-wrapper">
  <div class="mirror"></div>
  <div class="content">
    {% include "components/gradient.html" %}
  </div>
</div>
{% endblock background %}

{% block banner %}
<banner>
  <div class="content-wrapper">
    <div class="callout">
      <h1>marketing & criação, ux / ui & web design</h1>
      <h3>
        Explore conosco o <strong>potencial ilimitado</strong> da internet para
        transformar o seu negócio.
      </h3>
    </div>
  </div>
</banner>
{% endblock banner %}

{% block content %}
<div class="services">
  <div class="content-wrapper">
    <div class="card">
      <h3 class="title"><strong>Design</strong></h3>
      <p class="text">Somos um estúdio de criação especializado em comunicação visual, ilustração e projetos gráficos 2D
        e
        3D</p>
    </div>
    <div class="card">
      <h3 class="title"><strong>Marketing Digital</strong></h3>
      <p class="text">Mais do que uma agência digital, nossa proposta é atuar como o time de marketing do seu negócio.
        Entregamos soluções estratégicas e integradas para ambientes online e offline.</p>
    </div>
    <div class="card">
      <h3 class="title"><strong>UX / UI Design</strong></h3>
      <p class="text">Desenvolvemos ambientes e produtos através do estudo da usabilidade e experiência do usuário
        final.
        Planejamos soluções e interações que promovem engajamento, conexão e conversão.</p>
    </div>
    <div class="card">
      <h3 class="title"><strong>Desenvolvimento</strong></h3>
      <p class="text">Materializamos as suas ideias. <br />
        Seja um e-commerce, um site ou aplicativo, nossa equipe atuará no planejamento, na concepção e no
        desenvolvimento
        através de metodologias ágeis e emergentes.</p>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="masonry">

  </div>
</div>
{% endblock content %}