{% extends "_base.html" %}

{% block custom_style %}
{% endblock custom_style %}

{% block background %}
<div class="background-wrapper-fixed">
  <div class="mirror"></div>
  <div class="content">
    <!-- <img src="{{get_url(path='img/blob-full.webp')}}" alt="">
    <img src="{{get_url(path='img/blob-half.webp')}}" alt=""> -->
  </div>
</div>
{% endblock background %}

{% block banner %}
<banner class="specialties">
  <div class="content-wrapper">
    <div class="callout">
      <h1 class="h0">{{ page.extra.banner }}</h1>
      <h3>{{ page.extra.banner_extra }}</h3>
    </div>
  </div>
</banner>
{% endblock banner %}

{% block content %}
<div class="specialties-content">

  {{page.content | safe}}

</div>
{% endblock content %}