{% extends "_base.html" %}

{% block custom_style %}
{% endblock custom_style %}

{% block banner %}
<banner class="specialties">
  <mirror></mirror>
  {% include "components/gradient-specialties.html" %}
  <div class="content-wrapper">
    <div class="callout">
      <h1 class="h0">{{ section.extra.banner }}</h1>
      <h3>{{ section.extra.banner_extra }}</h3>
    </div>
  </div>
</banner>
{% endblock banner %}

{% block content %}
<div class="specialties-content">

  {{section.content | safe}}

</div>
{% endblock content %}