@use "../mixins/mixins" as m;

banner {
	display: flex;
	justify-content: center;
	align-items: center;

	height: max(80vh, m.rem(600));
	width: 100%;

	position: relative;

	.callout {
		display: flex;
		flex-flow: column;

		gap: m.rem(25);

		h3 {
			font-weight: 300;
			font-variant: all-small-caps;
		}
	}
}
