@use "sass:map";
@use "../mixins/functions";
@use "../mixins/theme";

footer {
	display: flex;

	background-color: map.get(theme.$colors, black);
	padding: functions.rem(25) 0 functions.rem(100);

	.content-wrapper {
		flex-flow: column;
		gap: functions.rem(25);
	}

	.footer-content {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: functions.rem(25);

		> div {
			min-width: functions.rem(200);
		}

		.contact {
			display: flex;
			flex-flow: column;
			gap: functions.rem(10);

			.social-media {
				display: flex;
				justify-content: start;
				align-items: center;
				gap: functions.rem(10);

				img {
					object-fit: cover;
					height: functions.rem(24);
					width: auto;
				}
			}
		}

		.menu > p {
			font-weight: 500;
		}

		.other-topics > p {
			font-weight: 500;
		}
	}
}
