@use "sass:map";
@use "../mixins/functions";
@use "../mixins/theme";

.masonry {
	width: 100%;
	padding: functions.rem(40) 0;

	display: flex;

	> .content-wrapper {
		display: flex;
	}
}

masonry-vertical {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(functions.rem(320), 1fr));
	grid-template-rows: repeat(auto-fill, minmax(1fr, 2fr));
	row-gap: functions.rem(16);
	column-gap: functions.rem(16);

	width: 100%;

	masonry-brick {
		display: flex;
		min-width: functions.rem(250);
		min-height: functions.rem(300);

		masonry-content {
			display: flex;
			flex-flow: column;

			width: 100%;

			position: relative;

			cursor: pointer;

			img {
				object-fit: cover;

				width: 100%;
				min-height: functions.rem(300);

				height: auto;
			}

			.extra {
				display: flex;
				flex-flow: column;
				align-items: start;
				justify-content: end;

				height: 100%;
				width: 100%;
				position: absolute;

				opacity: 0;

				cursor: pointer;

				transition-property: opacity;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
				transition-delay: 0ms;

				img {
					min-height: unset;
					height: 100%;
				}

				.description {
					display: flex;
					flex-flow: column;
					align-items: start;
					justify-content: end;

					position: absolute;

					padding: functions.rem(10);
					width: 100%;

					opacity: 0;

					transition-property: opacity;
					transition-duration: 250ms;
					transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
					transition-delay: 0ms;

					background-color: map.get(theme.$colors, main);
				}
			}

			&.active {
				.extra {
					opacity: 1;
					z-index: 2;

					.description {
						opacity: 1;

						transition-delay: 250ms;
						transition-duration: 250ms;
					}
				}
			}
		}
	}
}
