@use "../mixins/mixins" as m;

.masonry {
	width: 100%;
	padding: m.rem(40) 0;

	display: flex;

	> .content-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

masonry-vertical {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(m.rem(248), 1fr));
	grid-auto-rows: m.rem(12);
	row-gap: m.rem(16);
	column-gap: m.rem(16);

	width: 100%;

	masonry-brick {
		display: flex;
		border-radius: m.rem(24);

		grid-row: span 10;

		overflow: hidden;

		masonry-content {
			display: flex;
			flex-flow: column;

			width: 100%;
			height: 100%;

			position: relative;

			cursor: pointer;

			> img {
				object-fit: cover;

				width: 100%;
				height: 100%;
			}

			> .description {
				display: flex;
				align-items: center;
				gap: m.rem(12);

				padding: m.rem(24);

				width: 100%;

				position: absolute;
				bottom: 0;

				// background: linear-gradient(
				// 	to bottom,
				// 	transparentize(m.get(m.$colors, main), 1) 0%,
				// 	m.get(m.$colors, main) 100%
				// );
				// backdrop-filter: blur(m.rem(1)) saturate(1);

				transition: opacity 0ms linear 0ms;

				.image-holder {
					display: flex;
					justify-content: center;
					align-items: center;

					padding: 0 0 0 m.rem(2);

					height: m.rem(48);
					width: m.rem(48);
					border-radius: m.rem(12);
					overflow: hidden;

					img {
						object-fit: cover;
						width: auto;
						height: 175%;
					}
				}
			}

			> .extra {
				display: flex;
				flex-flow: column;
				align-items: start;
				justify-content: end;

				height: 100%;
				width: 100%;
				position: absolute;

				opacity: 0;

				cursor: pointer;

				transition-property: opacity;
				transition-duration: 250ms;
				transition-timing-function: linear;
				transition-delay: 0ms;

				> img {
					object-fit: cover;

					width: 100%;
					min-height: 100%;
					height: auto;
				}

				> .description {
					display: flex;
					flex-flow: column;
					align-items: center;
					gap: m.rem(12);

					width: 100%;

					opacity: 0;

					padding: m.rem(24);

					position: absolute;
					bottom: -50%;

					transition-property: opacity, bottom;
					transition-duration: 250ms, 250ms;
					transition-timing-function: linear,
						cubic-bezier(0.455, 0.03, 0.515, 0.955);
					transition-delay: 0ms, 0ms;

					background: linear-gradient(
						to bottom,
						transparentize(m.get(m.$colors, main), 1) 0%,
						m.get(m.$colors, main) 90%
					);
					backdrop-filter: blur(m.rem(1)) saturate(1);

					text-overflow: ellipsis;

					> div:nth-child(1) {
						display: flex;
						flex-flow: row;
						align-items: center;
						gap: m.rem(12);

						width: 100%;
					}

					.image-holder {
						display: flex;
						justify-content: center;
						align-items: center;

						padding: 0 0 0 m.rem(3);

						height: m.rem(48);
						width: m.rem(48);
						border-radius: m.rem(12);
						overflow: hidden;

						img {
							object-fit: cover;
							width: auto;
							height: 175%;
						}
					}

					.big-text {
						display: flex;
						flex-flow: row;
						align-items: center;
						gap: m.rem(12);

						width: 100%;

						overflow: hidden;
						max-height: 10ch;

						text-overflow: ellipsis;

						> * {
							overflow: hidden;
							max-height: 10ch;

							text-overflow: ellipsis;
						}
					}
				}
			}

			&.active {
				> .description {
					opacity: 0;
					transition: opacity 0ms linear 125ms;
				}

				.extra {
					opacity: 1;
					z-index: 2;

					> .description {
						bottom: -2.5%;
					}

					.description {
						opacity: 1;
					}
				}
			}
		}

		&.x2 {
			grid-row: span 20;
		}
		&.x3 {
			grid-row: span 30;
		}

		&.x2-horizontal {
			grid-column: span 2;
		}
		&.x3-horizontal {
			grid-column: span 3;
		}

		@media (max-width: m.rem(916)) {
			&.x2 {
				grid-row: span 20;
			}
			&.x3 {
				grid-row: span 20;
			}
			&.x2-horizontal {
				grid-column: span 1;
				grid-row: span 20;
			}
			&.x3-horizontal {
				grid-column: span 1;
				grid-row: span 30;
			}
		}

		&.sou-mais {
			masonry-content {
				.image-holder > img {
					height: 225%;
				}

				.extra {
					> img {
						object-position: left;
					}

					.image-holder > img {
						height: 225%;
					}
				}
			}
		}

		&.invest-smart {
			masonry-content {
				.image-holder > img {
					height: 150%;
				}

				> img {
					object-position: top;
				}
				.extra {
					> img {
						object-position: bottom;
					}

					.image-holder > img {
						height: 150%;
					}
				}
			}
		}

		&.capsule-one {
			masonry-content {
				.image-holder {
					background-color: rgb(182, 23, 38);

					> img {
						height: 60%;
					}
				}

				> img {
					object-position: center;
				}

				.extra {
					> img {
						object-position: center;
					}

					.image-holder > img {
						height: 60%;
					}
				}
			}
		}

		&.condor {
			masonry-content {
				.image-holder {
					background-color: rgb(212, 111, 2);

					> img {
						height: 55%;
					}
				}

				> img {
					object-position: left;
				}

				.extra {
					> img {
						object-position: left;
					}

					.image-holder > img {
						height: 55%;
					}
				}

				@media (max-width: m.rem(916)) {
					> img {
						object-position: center;
					}

					.extra {
						> img {
							object-position: bottom;
						}
					}
				}
			}
		}

		&.montreux {
			masonry-content {
				.image-holder {
					> img {
						height: 290%;
					}
				}

				> img {
					object-position: top;
				}

				.extra {
					> img {
						object-position: right;
					}

					.image-holder > img {
						height: 290%;
					}
				}
			}
		}

		&.filha-da-terra {
			masonry-content {
				.image-holder {
					> img {
						height: 500%;
					}
				}

				> img {
					object-position: top;
				}

				.extra {
					> img {
						object-position: left;
					}

					.image-holder > img {
						height: 500%;
					}
				}
			}
		}

		&.social-burguer {
			masonry-content {
				.image-holder {
					> img {
						height: 125%;
					}
				}

				> img {
					object-position: bottom;
				}

				.extra {
					> img {
						object-position: center;
						height: 50%;
					}

					.image-holder > img {
						height: 125%;
					}
				}
			}
		}
	}
}
