@use "sass:map";
@use "../mixins/functions";
@use "../mixins/theme";

nav {
	display: flex;
	align-items: center;

	width: 100%;

	padding: functions.rem(12);

	position: fixed;
	top: 0;
	left: 0;

	z-index: 5;

	background-color: map.get(theme.$colors, main);

	> .content-wrapper {
		> img {
			height: functions.rem(36);
			width: auto;

			margin-right: auto;
		}

		> .opener {
			display: flex;
			flex-flow: column;
			justify-content: space-between;

			height: functions.rem(24);
			width: functions.rem(24);

			border: 0px solid transparent;

			overflow: hidden;

			cursor: pointer;

			> span {
				display: flex;

				height: 2px;
				width: 100%;

				background-color: map.get(theme.$colors, white);

				position: relative;

				right: 0;

				&::before {
					content: "";

					display: flex;

					position: absolute;

					right: functions.rem(36);

					height: 2px;
					width: 100%;

					background-color: map.get(theme.$colors, white);
				}

				&:nth-child(1) {
					transition: right 125ms linear 0ms;
				}

				&:nth-child(2) {
					transition: right 125ms linear 50ms;
				}

				&:nth-child(3) {
					transition: right 125ms linear 100ms;
					width: 65%;

					&::before {
						right: functions.rem(36);
					}
				}
			}

			&:hover {
				> span {
					right: functions.rem(-36);
				}
			}
		}
	}
}

main.navigation {
	transform: scale(0.8);
	// position: fixed;
	left: -15%;
	top: 0%;
}

oob-nav {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: end;
	gap: functions.rem(48);

	position: fixed;

	z-index: -1;

	height: 100%;
	width: 100%;

	background-color: map.get(theme.$colors, primary);

	opacity: 1;

	transition: opacity 250ms cubic-bezier(0.39, 0.575, 0.565, 1);

	a {
		transform: translate3d(max(-10vw, functions.rem(-90)), 0, 0);
		color: map.get(theme.$colors, white);
	}

	closer {
		position: absolute;
		top: 36px;
		right: 36px;

		img {
			height: 36px;
		}
	}
}
