@use "../mixins/mixins" as m;

nav {
	display: flex;
	align-items: center;

	width: 100%;

	padding: m.rem(32) 0;

	position: fixed;
	top: 0;
	left: 0;

	z-index: 6;

	background-color: transparent;

	transition: padding 125ms linear, background-color 125ms;

	> svg {
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 100%;

		z-index: -1;

		display: none;
	}

	&.moving {
		padding: m.rem(24) 0 m.rem(24);

		background-color: transparentize(m.get(m.$colors, black), 0.5);
		backdrop-filter: blur(m.rem(24));

		> svg {
			display: flex;
		}
	}

	> .content-wrapper {
		> img {
			height: m.rem(24);
			width: auto;

			margin-right: auto;
		}

		> .opener {
			display: flex;
			flex-flow: column;
			justify-content: space-between;

			height: m.rem(16);
			width: m.rem(16);

			border: 0px solid transparent;

			overflow: hidden;

			cursor: pointer;

			> span {
				display: flex;

				height: 2px;
				width: 100%;

				background-color: m.get(m.$colors, white);

				position: relative;

				right: 0;

				&::before {
					content: "";

					display: flex;

					position: absolute;

					right: m.rem(36);

					height: 2px;
					width: 100%;

					background-color: m.get(m.$colors, white);
				}

				&:nth-child(1) {
					transition: right 125ms linear 0ms;
				}

				&:nth-child(2) {
					transition: right 125ms linear 50ms;
				}

				&:nth-child(3) {
					transition: right 125ms linear 100ms;
					width: 65%;

					&::before {
						right: m.rem(36);
					}
				}
			}

			&:hover {
				> span {
					right: m.rem(-36);
				}
			}
		}

		closer {
			cursor: pointer;
			display: none;

			img {
				height: m.rem(16);
			}
		}
	}

	&.navigation {
		background: transparent;
		background-color: transparentize(m.get(m.$colors, black), 1);
		backdrop-filter: blur(m.rem(0));

		> svg {
			display: none;
		}

		padding: m.rem(48) 0;

		> .content-wrapper {
			.opener {
				display: none;
			}
			closer {
				display: flex;
			}
		}
	}
}

// main.navigation {
// transform: scale(0.8);
// position: fixed;
// 	left: -15%;
// 	top: 0%;
// }

oob-nav {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;

	z-index: 5;

	height: 0;
	width: 0;

	background-color: transparent;

	opacity: 0;

	transition: opacity 125ms linear, background-color 125ms linear,
		height 250ms linear, width 0ms linear 125ms;

	> .content-wrapper {
		flex-flow: column;
		justify-content: center;
		align-items: start;
		gap: m.rem(12);

		z-index: 5;

		> a {
			color: m.get(m.$colors, white);
			cursor: pointer;

			&.h3 {
				margin-top: m.rem(16);
			}

			&.h0 {
				line-height: 0.8;
			}

			&:hover {
				color: m.get(m.$colors, primary);
			}
		}
	}

	> svg {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	&.navigation {
		opacity: 1;

		height: 100%;
		width: 100%;

		background-color: transparentize(m.get(m.$colors, black), 0.5);
		backdrop-filter: blur(m.rem(16));

		transition: opacity 125ms linear, background-color 125ms linear,
			height 250ms linear, width 0ms linear 0ms;
	}
}
