<div class="masonry">
  <div class="content-wrapper bigger">
    <masonry-perfect>
      <masonry-brick>
        <masonry-content>
          <div class="skeleton"></div>
          <img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="">
          <div class="description">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptatibus.</p>
          </div>
        </masonry-content>
      </masonry-brick>
      <masonry-brick>
        <masonry-content>
          <div class="skeleton"></div>
          <img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="">
          <div class="description">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptatibus.</p>
          </div>
        </masonry-content>
      </masonry-brick>
      <masonry-brick>
        <masonry-content>
          <div class="skeleton"></div>
          <img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="">
          <div class="description">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptatibus.</p>
          </div>
        </masonry-content>
      </masonry-brick>
      <masonry-brick>
        <masonry-content>
          <div class="skeleton"></div>
          <img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="">
          <div class="description">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptatibus.</p>
          </div>
        </masonry-content>
      </masonry-brick>
      <masonry-brick>
        <masonry-content>
          <div class="skeleton"></div>
          <img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="">
          <div class="description">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptatibus.</p>
          </div>
        </masonry-content>
      </masonry-brick>
      <masonry-brick>
        <masonry-content>
          <div class="skeleton"></div>
          <img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="">
          <div class="description">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptatibus.</p>
          </div>
        </masonry-content>
      </masonry-brick>
      <masonry-brick>
        <masonry-content>
          <div class="skeleton"></div>
          <img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="">
          <div class="description">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptatibus.</p>
          </div>
        </masonry-content>
      </masonry-brick>
      <masonry-brick>
        <masonry-content>
          <div class="skeleton"></div>
          <img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup.webp') }}" alt="">
          <div class="description">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptatibus.</p>
          </div>
        </masonry-content>
      </masonry-brick>
    </masonry-perfect>
  </div>
</div>