<div class="masonry">
	<div class="content-wrapper">
		<masonry-vertical>
			<masonry-brick class="">
				<masonry-content>
					<div class="skeleton"></div>
					<img class="lazy" data-src="{{ get_url(path='img/romario/romario-senador-portfolio.webp') }}" alt="" />
					<div class="description">
						<div class="image-holder">
							<img class="lazy" data-src="{{ get_url(path='img/romario/romario-senador-backdrop.webp') }}" alt="" />
						</div>
						<div class="text">
							<p>Senador Romário</p>
						</div>
					</div>
					<div class="extra">
						<img class="lazy" data-src="{{ get_url(path='img/romario/romario-senador-portfolio.webp') }}" alt="" />
						<div class="description">
							<div>
								<div class="image-holder">
									<img class="lazy" data-src="{{ get_url(path='img/romario/romario-senador-backdrop.webp') }}" alt="" />
								</div>
								<div class="text">
									<p>Senador Romário</p>
								</div>
							</div>
							<div class="big-text">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores ipsam eligendi. Omnis
									consectetur, sunt doloremque recusandae, fuga nisi quas porro hic totam eligendi vitae amet! Excepturi
									sint adipisci quo earum aspernatur hic odit deleniti vero fuga rem? Explicabo voluptatem nobis culpa
									voluptatibus est beatae excepturi veritatis voluptates at ratione temporibus eveniet consequatur ipsum
									modi quaerat, dolore numquam quisquam consectetur necessitatibus delectus. Nostrum placeat iusto
									deserunt. Accusantium sequi nisi porro qui ducimus obcaecati ex, asperiores animi incidunt corrupti ea
									unde repellat quidem nam consequuntur atque! Recusandae suscipit eos vero aut deserunt reprehenderit
									aspernatur inventore praesentium laboriosam voluptatibus quam odit, eveniet facilis ullam iste maxime
									debitis, impedit aliquam libero harum placeat ea! Temporibus, ratione assumenda sunt quae quam
									consectetur? Recusandae aperiam error architecto id in magnam unde nesciunt repudiandae nisi dolorem
									quisquam fuga quaerat aspernatur itaque inventore, vel velit dicta? Ducimus soluta explicabo fuga
									corporis aperiam iure voluptate similique, quisquam modi laboriosam minima beatae quasi. Nihil, rem
									obcaecati omnis quis quod, dolore reiciendis quo nostrum, dignissimos possimus sed. Nihil quos at ex
									libero ipsam enim modi magni. Assumenda in placeat repudiandae quaerat ipsam tempore porro ducimus
									beatae quae sed eveniet quas vero saepe quia nihil ut, labore quos neque blanditiis modi!</p>
							</div>
						</div>
					</div>
				</masonry-content>
			</masonry-brick>
			<masonry-brick class="x2">
				<masonry-content>
					<div class="skeleton"></div>
					<img class="lazy" data-src="{{ get_url(path='img/sou-mais/sou-mais-portfolio.webp') }}" alt="" />
					<div class="description">
						<div class="image-holder">
							<img class="lazy" data-src="{{ get_url(path='img/sou-mais/sou-mais-backdrop.webp') }}" alt="" />
						</div>
						<div class="text">
							<p>Sou + Acaraí</p>
						</div>
					</div>
					<div class="extra">
						<img class="lazy" data-src="{{ get_url(path='img/sou-mais/sou-mais-portfolio.webp') }}" alt="" />
						<div class="description">
							<div>
								<div class="image-holder">
									<img class="lazy" data-src="{{ get_url(path='img/sou-mais/sou-mais-backdrop.webp') }}" alt="" />
								</div>
								<div class="text">
									<p>Sou + Acaraí</p>
								</div>
							</div>
							<div class="big-text">
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem laudantium praesentium cumque et
									quisquam, perferendis maiores veritatis nihil eligendi, enim pariatur totam corrupti sapiente repellat
									odit repudiandae autem earum? Esse, possimus ipsa. Amet dolorem non nihil ut iste. Deserunt quisquam,
									quasi eos nam blanditiis cumque et accusantium omnis sequi, eaque doloribus cupiditate ut illum
									impedit, eligendi vel ratione vitae saepe adipisci quia incidunt. Dolores rerum ducimus et, a ipsam
									tenetur veritatis iste mollitia, voluptate praesentium fugit omnis nemo, eveniet deleniti dolorem
									earum dolorum amet vel vero dolore excepturi? Nisi, eveniet nostrum. Laudantium libero rerum
									aspernatur. Alias perspiciatis et veritatis eligendi!</p>
							</div>
						</div>
					</div>
				</masonry-content>
			</masonry-brick>
			<masonry-brick class="">
				<masonry-content>
					<div class="skeleton"></div>
					<img class="lazy" data-src="{{ get_url(path='img/patricia-pillar/patricia-pillar-portfolio.webp') }}"
						alt="" />
					<div class="extra">
						<img class="lazy" data-src="{{ get_url(path='img/patricia-pillar/patricia-pillar-backdrop.webp') }}"
							alt="" />
						<div class="description">
							<h3>Title</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Facilis, voluptatibus.
							</p>
						</div>
					</div>
				</masonry-content>
			</masonry-brick>
			<masonry-brick>
				<masonry-content>
					<div class="skeleton"></div>
					<img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="" />
					<div class="extra">
						<img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="" />
						<div class="description">
							<h3>Title</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Facilis, voluptatibus.
							</p>
						</div>
					</div>
				</masonry-content>
			</masonry-brick>
			<masonry-brick>
				<masonry-content>
					<div class="skeleton"></div>
					<img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="" />
					<div class="extra">
						<img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="" />
						<div class="description">
							<h3>Title</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Facilis, voluptatibus.
							</p>
						</div>
					</div>
				</masonry-content>
			</masonry-brick>
			<masonry-brick class="x2-horizontal">
				<masonry-content>
					<div class="skeleton"></div>
					<img class="lazy" data-src="{{ get_url(path='img/capsule-one/capsule-one-portfolio.webp') }}" alt="" />
					<div class="extra">
						<img class="lazy" data-src="{{ get_url(path='img/capsule-one/capsule-one-backdrop.webp') }}" alt="" />
						<div class="description">
							<h3>Title</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Facilis, voluptatibus.
							</p>
						</div>
					</div>
				</masonry-content>
			</masonry-brick>
			<masonry-brick>
				<masonry-content>
					<div class="skeleton"></div>
					<img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="" />
					<div class="extra">
						<img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="" />
						<div class="description">
							<h3>Title</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Facilis, voluptatibus.
							</p>
						</div>
					</div>
				</masonry-content>
			</masonry-brick>
			<masonry-brick>
				<masonry-content>
					<div class="skeleton"></div>
					<img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup.webp') }}" alt="" />
					<div class="extra">
						<img class="lazy" data-src="{{ get_url(path='img/filha-da-terra/filha-da-terra-mockup-2.webp') }}" alt="" />
						<div class="description">
							<h3>Title</h3>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Facilis, voluptatibus.
							</p>
						</div>
					</div>
				</masonry-content>
			</masonry-brick>
		</masonry-vertical>
	</div>
</div>