<nav>
  {% include "components/gradient.html" %}

  <div class="content-wrapper bigger">
    <img hx-post="{{ get_url(path='/') }}" hx-trigger="click throttle:250ms" hx-target="main"
      hx-swap="outerHTML swap:250ms" hx-select="main" hx-push-url="true"
      src="{{ get_url(path='img/wda-logo-light.svg') }}" alt="Logo Agência Digital WDA.AG">

    <div class="opener">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <closer><img src="{{ get_url(path='img/x-icon.svg') }}" alt=""></closer>
  </div>
</nav>