<oob-nav>
  {% include "components/gradient-nav.html" %}
  <div class="content-wrapper bigger">
    <a class="h0" hx-post="{{ get_url(path='/') }}" hx-trigger="click throttle:250ms" hx-target="main" hx-select="main"
      hx-swap="outerHTML swap:250ms settle:250ms">cases</a>
    <a class="h0" hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="main"
      hx-select="main" hx-swap="outerHTML">o que
      fazemos</a>
    <a class="h0" hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="main"
      hx-select="main" hx-swap="outerHTML">sobre</a>
    <a class="h0" hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="main"
      hx-select="main" hx-swap="outerHTML">orçamento</a>
    <a class="h0" hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="main"
      hx-select="main" hx-swap="outerHTML">vagas</a>
    <a class="h3" hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="main"
      hx-select="main" hx-swap="outerHTML">entre
      pro time</a>
  </div>
</oob-nav>