<oob-nav>
  <a hx-post="{{ get_url(path='/') }}" hx-trigger="click throttle:250ms" hx-target="body">cases</a>
  <a hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="body">o que fazemos</a>
  <a hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="body">sobre</a>
  <a hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="body">orçamento</a>
  <a hx-post="{{ get_url(path='/marketing') }}" hx-trigger="click throttle:250ms" hx-target="body">vagas</a>
</oob-nav>